* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #292a2e;
  font-size: 1.6rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
  }
}

.content {
  background-color: #7863fc;
  width: 60%;
  height: 80%;
  display: flex;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 16px 0.05px rgba(255, 0, 255, 1);
  -moz-box-shadow: -1px 1px 16px 0.05px rgba(255, 0, 255, 1);
  box-shadow: -1px 1px 16px 0.05px rgba(255, 0, 255, 1);

  .contentPicture {
    border: 2px solid green;
    width: 50%;
    height: 100%;
  }

  .contentForm {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      margin-top: 70px;
      font-size: 4rem;
    }
    p {
      font-size: 15px;
      margin-top: 4px;
    }

    .form {
      margin-top: 2rem;

      .itemForm {
        display: flex;
        flex-direction: column;
        margin: 15px 0 15px 0px;

        label {
          font-size: 18px;
        }
        input {
          color: #292a2e;
          width: 25rem;
          height: 30px;
          background-color: #f3f5fd;
          border: 1px solid #f43910;
          border-radius: 2px;
          outline: none;
          padding-left: 10px;
        }
      }
      .button {
        color: #292a2e;
        height: 30px;
        width: 100px;
        background-color: #f3f5fd;
        border: 1px solid #f43910;
        border-radius: 2px;
      }
    }
  }
}
